<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>    
        You need to re-connnect your device or change your voice output. 
        For more information, contact our <a href="https://github.com/CosmoMWY">tech support group</a> .
    </p>
    <p>
        <a href="CheckEnvironment.html">Click here to retest devices</a>
    </p>
    <p>
        <a href="picktests.html">Click here to go back to test selection</a>
    </p>
</body>
</html>