.profileRoot {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.profileRoot > .leftSidebar {
    flex-basis: 10em;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    background: white;
}

.profileRoot > .leftSidebar > .nav-link {
    height: 3em;
    line-height: 2em;
    width: auto;

    border-radius: 0;
}

.profileRoot > .rightPanel {
    flex-grow: 1;
}
