.userNavitem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;
}

.userNavitem .userIcon {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin: 0 1em;
}

.nav-bar .nav-item.dropdown ul {
    width: 25vw;
}
