.main-menu {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-auto-rows: 300px;

  grid-column-gap: 10px;
  grid-row-gap: 1em;

  padding: 25px 50px 75px 50px;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.box2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.box3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
