@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.nav {
  height: 75px;
  align-items: center;
}

.nav-bar {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.nav-link {
  line-height: 50px;
  align-items: center;
  color: #001a23;
}

.nav-btn {
  width: 100px;
  margin: 0 0.5em;
  text-decoration: none;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-family: "Poppins", sans-serif;

  transition-property: box-shadow;
  transition-duration: 0.3s;
}

.nav-btn:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.nav-btn:active {
  transform: translateY(2px);
}

.main-menu {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-auto-rows: 300px;

  grid-column-gap: 50px;
  grid-row-gap: 30px;

  padding: 50px 50px 75px 50px;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.box2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.box3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.box4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.box5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.btn-container {
  display: grid;
  grid-template-rows: 2fr 1fr;
  color: #2e2d4d;
}

.icon-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.text-container {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;

  font-size: 50px;
}

.test-icon {
  font-size: 200px;
}

.info-icon {
  font-size: 150px;
}

.user-icon {
  font-size: 100px;
}

.user-text {
  font-size: 25px;
}

.btn-gradient {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.21);
  border-bottom: 4px solid rgba(0, 0, 0, 0.21);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-family: "Poppins", sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  transition-property: box-shadow;
  transition-duration: 0.3s;
}

.btn-gradient:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);

  color: white;
}

.btn-gradient:active {
  transform: translateY(2px);
}

.btn-info {
  background: #90c7f0;
}

.btn-test {
  background: #88ddf1;
}

.btn-user {
  background: #c3cae2;
  width: 350px;
  height: 300px;
  padding: 90px 0px 0px 0px;
}

.btn-result {
  background: #c3cae2;
}
