.overallAnalysis {
    height: 100%;
}

.overallAnalysis > .nav {
    height: 3em;
}

.overallAnalysis > .nav .nav-link {
    height: 3em;
    line-height: 1.6em;
    text-align: center;
}

.overallAnalysis > .analysisNav {
    margin: 0.5em 0.5em 0 0.5em;
}

.overallAnalysis > .analysisView {
    height: 100%;

    display: flex;
    flex-direction: row;

    justify-content: stretch;
}

.overallAnalysis > .analysisView > * {
    padding: 0.5em;
}

.overallAnalysis > .analysisView > .analysisLeft {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20em;

    border-right: 1px solid var(--bs-gray-300);
    background: var(--bs-white);
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.overallAnalysis > .analysisView > .analysisRight {
    margin: 0;
    padding: 0;

    position: relative;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: auto;
    width: 60vh;
    max-height: 70vh;
}
