<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Knowledge</title>
    <link href="css/css.css" rel="stylesheet" type="text/css" />
    <link href="css/lb.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/lb.js"></script>

    <body>
        <div>
            <div style="width:960px; height:320px; margin:10px auto;">
                <div id="focus">
                    <ul>
                        <li><a href="#" target="_blank"><img src="img/01.jpg" width="960" /></a></li>
                        <li><a href="#" target="_blank"><img src="img/02.jpg" width="960" /></a></li>
                        <li><a href="#" target="_blank"><img src="img/03.jpg" width="960"  /></a></li>
                        <li><a href="#" target="_blank"><img src="img/04.jpg"width="960"  /></a></li>
                        <li><a href="#" target="_blank"><img src="img/05.jpg"width="960"  /></a></li>
                    </ul>
                </div>
            </div>
            <div class="mw">Knowledge </div>
            <div id="main">
                <div id="main_im">
                    <div class="nav"><a href="hearingLoss.html">Hearing Loss</a><a href="signsSymptoms.html">Signs & Symptoms</a><a href="noise.html">Loud Noise</a><a href="already.html">Already have Hearing Loss</a></div>
                    <p class="i_p"><strong>Take Steps to Keep It from Getting Worse. </strong>There is no medical or surgical treatment for hearing loss caused by noise. Damaged hair cells do not grow back. As much as possible, you should try to protect your hearing. If you do have hearing loss, you should take steps to keep it from getting worse.</p>
                    <p class="i_p">1. Avoid noisy places whenever possible.</p>
                    <p class="i_p">2. Use earplugs, protective ear muffs, or noise-canceling headphones when around loud noises.</p>
                    <p class="i_p">3. Keep the volume down when listening through earbuds or headphones.</p>
                    <p class="i_p">4. Ask your doctor for a hearing checkup if you suspect you have hearing loss.</p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"><strong>Things You Can Do to Help Compensate for Your Hearing Loss. </strong></p>
                    <p class="i_p"><strong>1. Look at the speaker. </strong>Your brain can pick up a lot of information from visual cues that can supplement what you hear to help you understand the message. Everyone reads lips more than they realize, and facial expressions and body language can provide helpful cues as well.</p>
                    <p class="i_p"><strong>2. Find the best location for listening. </strong>Placing yourself between the speaker and sources of background noise makes it much easier to hear and understand what is being said.  Practice finding the best locations for different situations. For example, sit across from your host in a restaurant, or stay in a room apart from the music at a party.</p>
                    <p class="i_p"><strong>3. Choose favorable listening environments whenever possible. </strong>The physical characteristics of a room can make it easier or harder to hear.  For example, choose restaurants with better lighting or meeting rooms with carpeted floors and acoustic ceiling tiles that reduce the echo (or reverberation) in a room.</p>
                    <p class="i_p"><strong>4. Pay attention to the conversation. </strong>It is easier to understand a conversation context than to understand a statement that has no background to help you know what it is about.</p>
                    <p class="i_p"><strong>5. Alert others to your hearing difficulty. </strong>Speakers can use strategies to help you hear better as well, such as making sure they have your attention before they speak and giving you a clear view of their face.</p>
                    <p class="i_p"><strong>6. Use closed captioning. </strong>Use closed captioning (CC) when you watch TV, movies, and online videos. Closed captioning can enhance your ability to understand the program.</p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <div class="center "> <a href="#"><img src="images/aa8.jpg" width="760" /></a></div>
                    <div class="m10"> </div>
                </div>
            </div>
            <div id="foot"></div>
        </div>
    </body>

</html>