@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.m10 {
    margin-top: 10px;
    padding-bottom: 100px;
    width: 500px;
}

.center {
    text-align: center;
}

a,
a:link,
a:visited {
    color: #7f0d0d;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

#head {
    width: 960px;
    height: 350px;
    margin: auto;
}

#main {
    width: 960px;
    height: auto;
    background: rgba(255, 255, 255, 0.9);
    margin: auto;
    margin-bottom: 50px;
}

.main_im {
    width: 400px;
    height: 250px;
    float: left;
    margin: 20px 60px 20px 30px;
}

.detail {
    font-size: 18px;
    color: #333333;
    text-align: center;
}

#D_main {
    width: 980px;
    height: auto;
    background: #ffffff;
    margin: 50px auto;
}

#D_main_im {
    width: 400px;
    height: auto;
    margin: 30px auto;
}

#D_main_im_title {
    font-size: 18px;
    padding-top: 50px;
    font-weight: bold;
    color: #000000;
}

body {
    color: #6e6e6e;
    font-size: 13px;
    background: url(../../../public/background.jpg) top center repeat fixed #000;
}

.nav {
    width: 960px;
    height: 45px;
    background-color: #CCCC00;
    margin: 10px auto;
    text-align: center;
    padding-top: 20px;
}

.nav a {
    font-size: 24px;
    margin: 10px;
    color: #006600;
}

.nav a:hover {
    color: #F00;
    text-decoration: none;
}

.mw {
    width: 940px;
    height: 40px;
    background: rgba(22, 88, 0, 0.9);
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    color: #FFFFFF;
    padding: 10px;
    padding-top: 15px;
}

.i_p {
    width: 760px;
    height: auto;
    padding: 10px;
    margin: auto;
    font-size: 16px;
    color: #333;
    text-indent: 2em;
    line-height: 28px;
}

.alreadyImg {
    width: 960px;
    height: 320px;
    margin: 10px auto;
}