<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Knowledge</title>
    <link href="css/css.css" rel="stylesheet" type="text/css" />
    <link href="css/lb.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/lb.js"></script>

    <body>
        <div>
            <div style="width:960px; height:320px; margin:10px auto;">
                <div id="focus">
                    <ul>
                        <li><a href="#" target="_blank"><img src="img/01.jpg" width="960" /></a></li>
                        <li><a href="#" target="_blank"><img src="img/02.jpg" width="960" /></a></li>
                        <li><a href="#" target="_blank"><img src="img/03.jpg" width="960"  /></a></li>
                        <li><a href="#" target="_blank"><img src="img/04.jpg"width="960"  /></a></li>
                        <li><a href="#" target="_blank"><img src="img/05.jpg"width="960"  /></a></li>
                    </ul>
                </div>
            </div>

            <div class="mw">Knowledge </div>
            <div id="main">
                <div id="main_im">
                    <div class="nav"><a href="hearingLoss.html">Hearing Loss</a><a href="signsSymptoms.html">Signs & Symptoms</a><a href="noise.html">Loud Noise</a><a href="already.html">Already have Hearing Loss</a></div>
                    <p class="i_p"><strong>Hearing Loss: </strong>A hearing loss can happen when any part of the ear is not working in the usual way. This includes the outer ear, middle ear, inner ear, hearing (acoustic) nerve, and auditory system.</p>
                    <p class="i_p"><strong>Hearing Loss in Children: </strong>Hearing loss can affect a child’s ability to develop speech, language, and social skills. The earlier children with hearing loss start getting services, the more likely they are to reach their full potential.</p>
                    <p class="i_p"><strong>Hearing Screening: </strong>Hearing screening is a test to tell if people might have hearing loss. Hearing screening is easy and not painful. It takes a very short time — usually only a few minutes.</p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <div class="center "> <a href="#"><img src="images/aa8.jpg" width="760" /></a></div>
                    <div class="m10"> </div>
                </div>
            </div>
            <div id="foot"></div>
        </div>
    </body>

</html>