<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Knowledge</title>
    <link href="css/css.css" rel="stylesheet" type="text/css" />
    <link href="css/lb.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/lb.js"></script>

    <body>
        <div>
            <div style="width:960px; height:320px; margin:10px auto;">
                <div id="focus">
                    <ul>
                        <li><a href="#" target="_blank"><img src="img/01.jpg" width="960" /></a></li>
                        <li><a href="#" target="_blank"><img src="img/02.jpg" width="960" /></a></li>
                        <li><a href="#" target="_blank"><img src="img/03.jpg" width="960"  /></a></li>
                        <li><a href="#" target="_blank"><img src="img/04.jpg"width="960"  /></a></li>
                        <li><a href="#" target="_blank"><img src="img/05.jpg"width="960"  /></a></li>
                    </ul>
                </div>
            </div>

            <div class="mw">Knowledge </div>
            <div id="main">
                <div id="main_im">
                    <div class="nav"><a href="hearingLoss.html">Hearing Loss</a><a href="signsSymptoms.html">Signs & Symptoms</a><a href="noise.html">Loud Noise</a><a href="already.html">Already have Hearing Loss</a></div>
                    <p class="i_p"><strong>Loud Noise Can Cause Hearing Loss Quickly or Over Time. </strong>Hearing loss can result from a single loud sound (like firecrackers) near your ear. Or, more often, hearing loss can result over time from damage caused by repeated exposures to loud sounds. The louder the sound, the shorter the amount of time it takes for hearing loss to occur. The longer the exposure, the greater the risk for hearing loss (especially when hearing protection is not used or there is not enough time for the ears to rest between exposures).</p>
                    <p class="i_p"><strong>Hearing Loss Can Be Temporary or Permanent. </strong>Hearing loss is a decrease in your ability to hear or understand speech and sounds around you. Hearing loss can happen when any part of the ear or the nerves that carry information on sounds to your brain do not work in the usual way. In some cases, hearing loss can be temporary. However, it can become permanent when vital parts of the ear have been damaged beyond repair. Damage to any part of the ear can lead to hearing loss.</p>
                    <p class="i_p">Loud noise is particularly harmful to the inner ear (cochlea). A one-time exposure to extreme loud sound or listening to loud sounds for a long time can cause hearing loss. Loud noise can damage cells and membranes in the cochlea. Listening to loud noise for a long time can overwork hair cells in the ear, which can cause these cells to die. The hearing loss progresses as long as the exposure continues. Harmful effects might continue even after noise exposure has stopped. Damage to the inner ear or auditory neural system is generally permanent.</p>
                    <p class="i_p">The effect of noise on hearing depends on how loud it is (sound intensity) and how long it lasts (duration). Avoiding noisy situations is the best prevention. If you can’t avoid the noise, use adequate hearing protection.</p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <div class="center "> <a href="#"><img src="images/aa8.jpg" width="760" /></a></div>
                    <div class="m10"> </div>
                </div>
            </div>
            <div id="foot"></div>
        </div>
    </body>

</html>