<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Knowledge</title>
    <link href="css/css.css" rel="stylesheet" type="text/css" />
    <link href="css/lb.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/lb.js"></script>

    <body>
        <div>
            <div style="width:960px; height:320px; margin:10px auto;">
                <div id="focus">
                    <ul>
                        <li><a href="#" target="_blank"><img src="img/01.jpg" width="960" /></a></li>
                        <li><a href="#" target="_blank"><img src="img/02.jpg" width="960" /></a></li>
                        <li><a href="#" target="_blank"><img src="img/03.jpg" width="960"  /></a></li>
                        <li><a href="#" target="_blank"><img src="img/04.jpg"width="960"  /></a></li>
                        <li><a href="#" target="_blank"><img src="img/05.jpg"width="960"  /></a></li>
                    </ul>
                </div>
            </div>

            <div class="mw">Knowledge </div>
            <div id="main">
                <div id="main_im">
                    <div class="nav"><a href="hearingLoss.html">Hearing Loss</a><a href="signsSymptoms.html">Signs & Symptoms</a><a href="noise.html">Loud Noise</a><a href="already.html">Already have Hearing Loss</a></div>
                    <p class="i_p">The symptoms of hearing loss depend on the type, degree and cause of hearing loss. If you have any of these signs or symptoms, you may have hearing loss caused by noise:</p>
                    <p class="i_p">1. Speech and other sounds seem muffled.</p>
                    <p class="i_p">2. Trouble hearing high-pitched sounds (e.g., birds, doorbell, telephone, alarm clock).</p>
                    <p class="i_p">3. Trouble understanding conversations when you are in a noisy place, such as a restaurant.</p>
                    <p class="i_p">4. Trouble understanding speech over the phone.</p>
                    <p class="i_p">5. Trouble hearing speech consonants (e.g., trouble hearing the difference between s and f,  between p and t, or between sh and th in speech).</p>
                    <p class="i_p">6. Asking  others to speak more slowly and clearly.</p>
                    <p class="i_p">7. Asking someone to speak more loudly or repeat what they said.</p>
                    <p class="i_p">8. Turning up the volume of the television or radio.</p>
                    <p class="i_p">9. inging in the ears.Loud noise can cause ringing, hissing, or roaring in the ears (a condition called tinnitus). This usually occurs immediately after you are exposed to the loud noise, but then it usually, though not always, goes away. However, it can be an indication of early hearing damage.</p>
                    <p class="i_p">10. Hypersensitivity to certain sounds (certain sounds are very bothersome or create pain). After you are exposed to loud noise, sounds that seem normal to most people may start to sound unbearably loud to you (a condition called hyperacusis). People with this increased sensitivity to sound may experience discomfort or physical pain. And it may be a sign of hearing damage.</p>
                    </p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <p class="i_p"></p>
                    <div class="center "> <a href="#"><img src="images/aa8.jpg" width="760" /></a></div>
                    <div class="m10"> </div>
                </div>
            </div>
            <div id="foot"></div>
        </div>
    </body>

</html>