.gauge1 {
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: #AA2222FF;
    overflow: hidden;
    margin: auto;

    width: 200px;
    --rotation: 83deg;
    --color: #5cb85c;
    --background: #e9ecef;
}

.gauge1:before {
    content: "";
    display: block;
    padding-top: 50%; /* ratio of 2:1*/
}

.gauge1 .chart {
    overflow: hidden;
}

.gauge1 .mask1 {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 40%;
    background-color: #fff;
    border-radius: 50%/100% 100% 0 0;
}

.gauge1 .percentage1 {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: #AAAAAAFF;
    transform: rotate(var(--rotation));
    transform-origin: bottom center;
    transition-duration: 600ms;
}

.gauge1 .value1 {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
}

.gauge1 .min {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.gauge1 .max {
    position: absolute;
    bottom: 0;
    right: 5%;
}

/*---------------*/

.gauge2 {
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: #fdd703;
    overflow: hidden;
    margin: auto;

    width: 200px;
    --rotation: 131deg;
    --color: #5cb85c;
    --background: #e9ecef;
}

.gauge2:before {
    content: "";
    display: block;
    padding-top: 50%; /* ratio of 2:1*/
}

.gauge2 .chart {
    overflow: hidden;
}

.gauge2 .mask2 {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 40%;
    background-color: #fff;
    border-radius: 50%/100% 100% 0 0;
}

.gauge2 .percentage2 {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: #AAAAAAFF;
    transform: rotate(var(--rotation));
    transform-origin: bottom center;
    transition-duration: 600ms;
}

.gauge2 .value2 {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
}

.gauge2 .min {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.gauge2 .max {
    position: absolute;
    bottom: 0;
    right: 5%;
}

/*---------------*/

.gauge3 {
    position: relative;
    border-radius: 50%/100% 100% 0 0;
    background-color: #16e50d;
    overflow: hidden;
    margin: auto;

    width: 200px;
    --rotation: 162deg;
    --color: #5cb85c;
    --background: #e9ecef;
}

.gauge3:before {
    content: "";
    display: block;
    padding-top: 50%; /* ratio of 2:1*/
}

.gauge3 .chart {
    overflow: hidden;
}

.gauge3 .mask3 {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 40%;
    background-color: #fff;
    border-radius: 50%/100% 100% 0 0;
}

.gauge3 .percentage3 {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0;
    right: -1px;
    background-color: #AAAAAAFF;
    transform: rotate(var(--rotation));
    transform-origin: bottom center;
    transition-duration: 600ms;
}

.gauge3 .value3 {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    text-align: center;
}

.gauge3 .min {
    position: absolute;
    bottom: 0;
    left: 5%;
}

.gauge3 .max {
    position: absolute;
    bottom: 0;
    right: 5%;
}

.card{
    --bs-card-cap-padding-x: 0.4rem
}

.resultInfoPage{
    margin: 3% 5%;
}

.rightEndButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.noneLineLink{
    text-decoration: none;
    color: #5a6167;
    font-size: 2em;
}

.leftAndRight{
    display: flex;
    justify-content: space-between;
}